<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%> 

<body>
    <%- include("partials/navbar") -%>

    <div class="container">
        <h1>About</h1>
        <p><%= aboutContent %> </p>
    </div>

    <%- include("partials/footer") -%> 

    <script>
        document.querySelectorAll("a")[1].classList.add("active");
    </script>
</body>
</html>